@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700");

body {
    padding: 0;
    margin: 0;
}

#wrapper-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.more-pens {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
}

a.white-mode:link, a.white-mode:visited, a.white-mode:active {
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    text-decoration: none;
    background: #212121;
    padding: 8px 18px;
    color: #f7f7f7;
    border-radius: 20px;
    margin: 0 4px;
}

a.white-mode--highlight:link, a.white-mode--highlight:visited, a.white-mode--highlight:active {
    background: #293FE9;
}

a.white-mode:hover {
    background: #edf3f8;
    color: #212121;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 90px;
    text-align: left;
    pointer-events: none;
}

.title {
    font-family: 'Catamaran', sans-serif;
    pointer-events: none;
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
    margin-top: 14px;
    color: #212121;
    display: block;
    pointer-events: none;
}

.title span {
    color: #EC456C;
}

.subtitle {
    font-family: 'Catamaran', sans-serif;
    pointer-events: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    margin-top: 0;
    color: #212121;
    display: block;
    pointer-events: none;
}

.subtitle span {
    color: #EC456C;
}

.button {
    -webkit-transition: all 0.3s cubic-bezier(0.69, 0, 0.185, 1);
    transition: all 0.3s cubic-bezier(0.69, 0, 0.185, 1);
    border-radius: 30px;
    font-family: 'Catamaran', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-rendering: optimizeLegibility;
    padding: 18px 60px;
    line-height: 1;
    color: #90e5fb;
    margin: 20px auto 0;
    display: inline-block;
    background: #222222;
    text-decoration: none;
    box-shadow: 0 0 30px #90e5fb;
}
